/* #F1F0E8
#3F1D38 */

/* #120826
#F2F2E4 */


body {
    background-color: #13678A;
}
.piano-div{
    width: 93.6%;
    height: 15vh;
    margin-left: 3.2%;
    margin-right: 3.2%;
    margin-top:15%;
    pointer-events: none;

}

p{
    margin-top:0;
    margin-bottom:0;
    padding-top:0;
}

.white-keys{
    height: 100%;
    display: flex;
    justify-content: center;
}
.white-key{
    width:1.8%;
    height:99.5%;
    background-color:#F2F2E4 ;
    border:1px solid black;
    border-bottom-width:3px;
    border-top:0;
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}


.black-keys{
    height: 100%;
    display: flex;
    justify-content: center;
    position:relative;
    top:-100%;
    left:0;
}
.black-key{
    width:1.5%;
    height:50%;
    background-color:#0D0E08 ;
    border:1px solid black;
    margin-left:0.15%;
    margin-right: 0.15%;
    z-index: 1;
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.spacer{
    width:1.5%;
    height:50%;
    
    border:1px solid transparent;
    margin-left:0.15%;
    margin-right: 0.15%; 
    z-index: -1;
    
}

.left-most-key{
    border-left-width: 3px;
    
}

.right-most-key{
    border-right-width: 3px;
    
}

.black-text{
    margin-bottom: 10px;
    color:#000
}

.white-text{
    margin-bottom: 10px;
    color:#FFF
}

.title-div{
    text-align: center;
}
h1{
    font-family: 'Dancing Script', cursive;
    color:white;
    font-size:5rem;
    margin-bottom: 1%;
    
}

.subtitle{
    margin-bottom:1%;
    margin-top:1%;
}
.subtitle-div{
    color:white;
    font-family: 'Dancing Script', cursive;
    font-size:2rem;
}

.description{
    color:white;
    font-size:2rem;
}
span{
    color:coral
}

.pressed{
    box-shadow: 0 3px 4px 0 coral;
    opacity: 0.5;
}

.key{
    pointer-events: all;
}

.acknowledgements{
    font-family: "times-new-roman";
    color:white;
    text-align: center;
    margin-top:10%;
}

a{
    color:white;
}